// Here is the typography. I'm importing my font below and removing text-decoration from all links here.
// You can put other font-related things here. 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
a {
  text-decoration: none;
  color: $headerWhite;
}

.home-animate__first {
  animation: reveal 1.25s cubic-bezier(0, 1, 0.5, 1) 1;
}

// .animate-second {
//   animation-delay: 500ms;
// }
// .animate-third {
//   animation-delay: 1s;
// }