$headerWhite: #f0f0f0;
$darkness: 12px 0 15px -4px black,
-12px 0 8px -4px black;
$scalingGreen: #00d800;
$scalingGreenOne: darken($scalingGreen, 5%);
$scalingGreenTwo: darken($scalingGreen, 10%);
$scalingGreenThree: darken($scalingGreen, 15%);
$scalingGreenFour: darken($scalingGreen, 20%);
$scalingGreenFive: darken($scalingGreen, 25%);
$scalingGreenSix: darken($scalingGreen, 30%);
$scalingGreenSeven: darken($scalingGreen, 35%);
$scalingGreenEight: darken($scalingGreen, 40%);