.header {
  grid-column: 2 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 5;
  font-size: 1.8rem;
  text-align: center;
  justify-items: center;
  background: #000;
  box-shadow: $darkness;
  &>a {
    width: 7.7rem;
    height: 2.45rem;
    &:hover {
      color: black;
      background: $headerWhite;
      transition: all .75s cubic-bezier(.02, .48, .63, .12);
    }
  }
}