.home {
  box-shadow: $darkness;
  background: darkcyan;
  grid-column: 2 / 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  &-one {
    grid-row: 3;
    grid-column: 3;
    justify-self: center;
    align-self: center;
  }
}