.home {
  box-shadow: $darkness;
  background: $scalingGreenOne;
  grid-column: 2 / 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10rem repeat(4, 1fr);
  &-animate {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    justify-self: center;
  }
  &-one {
    grid-column: 1 / span 4;
    grid-row: 1; // &__typewritter {
    //   position: absolute;
    //   top: 50%;
    //   width: 1fr;
    //   margin: 0 auto;
    //   border-right: 2px solid rgba(255, 255, 255, .75);
    //   text-align: center;
    //   white-space: nowrap;
    //   overflow: hidden;
    //   transform: translateY(-50%);
    //   animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    // }
  } // &-two {
  //   grid-column: 1;
  //   grid-row: 2;
  // } 
  // &-three {
  //   background: #222;
  //   grid-column: 3;
  //   grid-row: 3;
  // }
  // &-four {
  //   background: #222;
  //   grid-column: 4;
  //   grid-row: 4;
  // }
  // &-five {
  //   background: #222;
  //   grid-column: 5;
  //   grid-row: 5;
  // }
  // &-six {
  //   background: #222;
  //   grid-column: 5;
  //   grid-row: 1;
  // }
  // &-seven {
  //   background: #222;
  //   grid-column: 4;
  //   grid-row: 2;
  // }
  // &-eight {
  //   background: #222;
  //   grid-column: 2;
  //   grid-row: 4;
  // }
  // &-nine {
  //   background: #222;
  //   grid-column: 1;
  //   grid-row: 5;
  // }
  // &-ten {
  //   background: #222;
  //   grid-column: 1;
  //   grid-row: 3;
  // }
}

// .anim-typewriter {
//   position: relative;
//   top: 50%;
//   width: 24em;
//   margin: 0 auto;
//   border-right: 2px solid rgba(255, 255, 255, .75);
//   font-size: 180%;
//   text-align: center;
//   white-space: nowrap;
//   overflow: hidden;
//   transform: translateY(-50%);
//   animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
// }